@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg: #0d0c22;
    --text: white;
    --bgSoft: #2d2d42;
    --textSoft:#e5e5e5;
    --btn:#3673fd
}

body{
    overflow-x: hidden;
    background-image: url('/body-bg.jpg');
    /* background-color: #2d2d42; */
}


*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

 
}

/* .container{
    width: 1536px;
    margin: auto;
    padding: 0 50px 0 50px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   */


@layer components{
    .hero_section{
        @apply bg-[url('/hero.jpg')] bg-no-repeat bg-center bg-cover w-[100vw] h-[800px]  
    
    }

}